@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root {
  --black: #313131;
  --dark: #443627;
  --orange: #D98324;
  --light: #EFDCAB;
  --white: #F2F6D0;
}
body {
  background-color: var(--white);
}
* {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
#title {
  font-size: 56px;
  color: var(--black);
}
#description {
  color: var(--dark);
  text-align: center;
}
#upload-form {
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  a, a:visited {
    all: unset;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
    color: var(--orange);
  }
}
#upload-button {
  margin-top: 24px;
  border: 2px solid var(--dark);
  border-radius: 25px;
  width: 400px;
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}
#choose-file-button {
  background-color: var(--dark);
  color: var(--light);
  padding: 12px 24px;
  border-radius: 99px;
}
#button-placeholder {
  height: 50px;
  width: 200px;
}
#generate-button {
  all: unset;
  cursor: pointer;
  background-color: var(--dark);
  border-radius: 10px;
  color: var(--white);
  height: 50px;
  text-align: center;
  width: 200px;
  animation: pop-up 1s cubic-bezier(0,.77,.41,.99);
}
@keyframes pop-up {
  0% {
    scale: 0.8;
  }
  100% {
    scale: 1;
  }
}
#csv-upload {
  font-size: large;
}
#csv-upload::file-selector-button {
  background-color: var(--dark);
  color: var(--white);  
  font-size: medium;
  padding: 15px 30px;
  border: none;
  cursor: pointer;
}

.bar, .circle, .histogram-bar {
  fill: var(--dark);
}
.line {
  stroke: var(--dark);
}
.histogram-bar {
  stroke: var(--white);
}

.axis {
  color: var(--dark);
}

.end {
  text-align: center;
  padding: 24px;
  color: var(--dark);
}

.chart {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin: 48px 0px;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  p {
    font-size: large;
    padding: 24px;
    text-align: center;
  }
}
.loading-animation {
  position: relative;
  height: 100px;
  width: fit-content;
}
@property --t {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
.loading-circle {
  --t: 0deg;
  position: absolute;
  width: 30px;
  height: 30px;
  background: var(--orange);
  border-radius: 50%;
  
  /* Infinity motion */
  transform: translate(calc(50% + cos(var(--t)) * 85px + 50px + 12.5px), calc(50% + sin(var(--t)) * cos(var(--t)) * 90px + 17.5px));

  animation: infinityLoop 2s linear infinite;
}

.error {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  h1 {
    font-size: 72px;
  }
  p {
    text-align: center;
  }
  a {
    all: unset;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    color: var(--white);
    font-size: large;
    height: 50px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    border-radius: 99px;
  }
}

@keyframes infinityLoop {
  0% { --t: 0deg; }
  100% { --t: 360deg; }
}